[tool.poetry]
name = "nemo-agent"
version = "0.2.7"
description = "Blazing fast local AI Agent for Python coding"
authors = ["Bevan Hunt <bevan@bevanhunt.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/truemagic-coder/nemo-agent"
keywords = ["ai", "agent", "ai agent", "local ai agent", "python ai agent"]
classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
packages = [{include = "nemo_agent"}]

[tool.poetry.dependencies]
python = "<4.0,>=3.9"
phidata = "^2.4.29"
click = "^8.1.7"
torch = "^2.4.0"
requests = "^2.32.3"
ollama = "^0.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
nemo-agent = "nemo_agent.main:cli"
